<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    
    <script>
        const HomePageSocketURL = `ws://${window.location.host}/ws/homepage/`;
        const HomePageSocket = new WebSocket(HomePageSocketURL);

        HomePageSocket.onopen = function (e) {
            console.log("Frontend Websocket Connected!!");
        }

        HomePageSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(`Received from backend: ${data}`);
        }

        HomePageSocket.onclose = function (e) {
            console.log("Frontend Websocket Connection Closed!");
        };
    </script>
    
</body>
</html>